/*background*/
body {
	background-image: url('https://images.unsplash.com/photo-1445140463371-d8036feedc2f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3f947bb953b891e1ed02ae740a24a1e0');
	background-size: 100% 100%;
	margin-top: -1.5em;
	background-repeat: no-repeat;
}

/*Header*/
.title {
	text-align: center;
	font-size: 4em;
	font-family: 'Yeseva One', cursive;
	color: #FFEA00;
}

/*Map*/
#map {
	height: 20em;
	width: 35em;
	margin-top: 3em;
	margin-left: 2em;
}

/*User Inputs*/
section {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-top: 1em;
	padding: 1em 5em;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
}

.userEntry p {
	margin-left: 2em;
}

h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 3em;
}

.or {
	width: 16%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -8em;
}

.userEntry {
	margin-left: 5em;
}

.beerFinder {
	margin-left: 50em;
	margin-top: -14em;
}

/*buttons*/
button {
	text-align: center;
	margin-top: 1em;
	padding: 1em;
	padding-left: 3em;
	padding-right: 3em;
	font-family: 'Playfair Display', serif;
}

.searchBrewery {
	margin-left: 24em;
	margin-top: 6em;
}

.searchBeer {
	margin-left: 35em;
}

/*Search Results*/
.breweryResults {
	list-style: none;
	margin-left: 41em;
	margin-right: 5em;
	background-color: rgba(250, 204, 204, .5);
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: -20em;
	font-family: 'Playfair Display', serif;
}

.beerResults {
	list-style: none;
	margin-left: 21em;
	margin-right: 21em;
	background-color: rgba(250, 204, 204, .5);
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: -20em;
	font-family: 'Playfair Display', serif;
}

.breweryResults li, .beerResults li {
	line-height: 1.5em;
}

hr {
	border-top: 1px solid black;
	width: 92%;
	margin-right: 3em;
}

/*Pagination*/
.pages {
	margin-left: auto;
	margin-right: auto;
	width: 28%;
}