/*background*/
.main {
	background-image: url('https://images.unsplash.com/photo-1452562961439-283b44358d48?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=6d42bab697c0d260092d5634d965ed7c');
	background-size: 100% 100%;
	margin-top: -1.5em;
	height: 1000px;
}

/*Header*/
.title {
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}

/*Map*/
#map {
	height: 20em;
	width: 35em;
	margin-top: 20em;
	margin-left: 2em;
}

/*User Entry*/
.userEntry {
	margin-top: -35em;
	margin-left: 15em;
}

input {
	margin-top: 1em;
	padding: 1em 5em;
	text-align: center;
}

.beerFinder {
	margin-top: -10em;
	margin-left: 50em;
}

/*buttons*/

button {
	text-align: center;
	margin-top: 1em;
	padding: 1em;
	padding-left: 3em;
	padding-right: 3em;
}

.searchBrewery {
	margin-left: 20em;
}

.searchBeer {
	margin-left: 55em;
}

/*Search Results*/

.breweryResults {
	list-style: none;
	margin-left: 41em;
	margin-right: 5em;
	background-color: rgba(250, 204, 204, .5);
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 3em;
}

.beerResults {
	list-style: none;
	margin-left: 21em;
	margin-right: 21em;
	background-color: rgba(250, 204, 204, .5);
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 3em;
}

.breweryResults li, .beerResults li {
	line-height: 1.5em;
}

hr {
	border-top: 1px solid black;
	width: 92%;
	margin-right: 3em;
}

/*Pagination*/
.pages {
	margin-left: auto;
	margin-right: auto;
	width: 28%;
}