/*background*/
body {
	height: 100%;
	background-image: url('../images/brewery-hero-min.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

/*Header*/
.title {
	text-align: center;
	font-size: 4em;
	font-family: 'Yeseva One', cursive;
	color: #FFEA00;
}

/*Map*/
#map {
	height: 20em;
	width: 35em;
	margin-top: 3em;
	margin-left: 2em;
}

/*User Inputs*/
section {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

input {
	margin-top: 1em;
	padding: 1em 5em;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
}

.userEntry p {
	margin-left: 2em;
}

h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 3em;
}

.or {
	width: 16%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -8em;
}

.userEntry {
	margin-left: 5em;
	margin-top: 5em;
}

.beerFinder {
	margin-left: 45em;
	margin-top: -10em;
}

.beer{
	margin-top: 2em;
}

/*buttons*/
button {
	text-align: center;
	margin-top: 1em;
	padding: 1em;
	padding-left: 3em;
	padding-right: 3em;
	font-family: 'Playfair Display', serif;
}

.searchBrewery {
	margin-left: 23em;
	margin-top: 6em;
}

.searchBeer {
	margin-left: 31em;
}

/*Search Results*/
.breweryResults {
	list-style: none;
	margin-left: 41em;
	margin-right: 5em;
	background-color: rgba(255, 255, 255, .90);
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: -20em;
	font-family: 'Playfair Display', serif;
}

.beerResults {
	list-style: none;
	margin-left: 21em;
	margin-right: 21em;
	background-color: rgba(255, 255, 255, .90);
	padding-top: 2em;
	padding-right: 1em;
	padding-bottom: 8em;
	margin-top: -20em;
	font-family: 'Playfair Display', serif;
}

.breweryResults li, .beerResults li {
	line-height: 1.5em;
}

hr {
	border-top: 1px solid black;
	width: 92%;
	margin-right: 3em;
}

/*Pagination*/
.pages {
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	padding-bottom: 4em;
	padding-top: 1em;
}

ul {
	list-style-type: none;
}

.paginationjs-pages li {
	float: left;
	padding-right: 1em;
}
